body{
	background-color: #7f7fff;
}
div{
	width:30%;
	height:25%;
	background-color: #f8f8ff;
	margin:180px auto;
	padding: 20px 40px 20px 40px; 
	text-align:center;
	box-shadow: 3px 3px 4px;
	box-shadow color
}

input{
	width:280px;
	height:47px;
	margin-top: 20px;
	background-color:#DCDCDC;
    border: 0px solid;
    padding-left: 20px;
}
button{
	margin-top: 20px;
	width:300px;
	height:47px;
	background-color:#9999ff;
	color:white;
	border: 0px solid;
}
a {
    text-decoration: none !important;
    color:#9999ff;
}
h6{
	color:silver;
	 margin-top: 8px;
}

